.list-container {
  width: 100%;
}
.logo {
  height: 150px;
  width: 150px;
  background-color: transparent;
  cursor: pointer;
}
.button {
  height: 40px;
  width: 130px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.image {
  height: 80%;
  width: 80%;
}
.trigger-popup {
  background-color: transparent;
  align-self: flex-end;
  border: none;
  outline: none;
  height: 30px;
  font-size: 28px;
  width: 30px;
  margin-right: 30px;
}
.close-icon {
  cursor: pointer;
}
